<template>

    <template if:false={isConverted}>
        <lightning-card title="Lead Details">
            <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="" scope="col">
                            <div class="slds-truncate">
                                <lightning-input onchange={selectAllRows} type="checkbox" >
                                </lightning-input>
                            </div>
                        </th>
                        <template for:each={lstFields} for:item="field">
                            <th class="" scope="col" key={field.label}>
                                <div class="slds-truncate" title={field.label}>{field.label}</div>
                            </th>
                        </template>
                    </tr>
                </thead>
                <!-- TABLE BODY -->
                <tbody>
                    <template for:each={leadValues} for:item="lead">
                        <tr key={lead.Id}>
                              <td scope="col" key={lead.Id}>
                                    <div>
                                        <lightning-input type="checkbox" value={lead.Name} data-id={lead.Id}
                                            onchange={idValue}  ></lightning-input>
                                    </div>
                                </td> 
                            
                            <template for:each={lstFields} for:item="fields">
                              
                            <td key={lead.Id} scope="col">
                                <div>{lead}</div>
                            </td>
                        </template>
                        </tr>
                    </template>
                </tbody>
                <!--  -->
            </table>
            <div class="slds-align_absolute-center" >
            <lightning-button variant="brand" label="CONVERT LEADS" title="Primary action" onclick={convertLeads}
                class="slds-m-left_x-small  slds-p-around_medium"></lightning-button>
                <lightning-button variant="brand" label="CONVERTED LEADS" title="Primary action" onclick={convertLeads}
                class="slds-m-left_x-small  slds-p-around_medium"></lightning-button>
            </div>
        </lightning-card>
    </template>
    <template if:true={isConverted}>
        <lightning-card title="Converted Leads">
            <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                <thead>
                    <tr class="slds-line-height_reset">
                            <th class="" scope="col" >
                                <div class="slds-truncate" title="LEAD ID">LEAD ID</div>
                            </th>
                            <th class="" scope="col" >
                                <div class="slds-truncate" title="LEAD NAME">LEAD NAME</div>
                            </th>
                            <th class="" scope="col" >
                                <div class="slds-truncate" title="CONVERTED ACCOUNT ID">CONVERTED ACCOUNT ID</div>
                            </th>
                            <th class="" scope="col" >
                                <div class="slds-truncate" title="CONVERTED OPPRTUNITY ID">CONVERTED OPPORTUNITY ID</div>
                            </th>
                            <th class="" scope="col" >
                                <div class="slds-truncate" title="CONVERTED CONTACT ID">CONVERTED CONTACT ID</div>
                            </th>

                    </tr>
                </thead>
                <tbody>
                    <template for:each={convertedLeadList} for:item="convertedLead" >
                        <tr key={convertedLead.Id}>
                            <th scope="col">
                                <div>{convertedLead.Id}</div>
                            </th>
                            <th scope="col">
                                <div>{convertedLead.LastName}</div>
                            </th>
                            <th scope="col">
                                <div>{convertedLead.ConvertedAccountId}</div>
                            </th>
                            <th scope="col">
                                <div>{convertedLead.ConvertedOpportunityId}</div>
                            </th>
                            <th scope="col">
                                <div>{convertedLead.ConvertedContactId}</div>
                            </th>
                        </tr>
                    </template>
                </tbody>
            </table>
            <lightning-button variant="brand" label="LEAD LIST" title="Primary action" onclick={leadListTable}
                class="slds-m-left_x-small slds-align_absolute-center slds-p-around_medium"></lightning-button>
        </lightning-card>
    </template>


</template>